#first-scene {
    -fx-background-color: #94B5EB

}


#judul {
	-fx-text-fill:#cacaca;
	-fx-font-family: "Arial";
    -fx-font-size: 24px;
    -fx-font-weight: bold;

}


Label {
	-fx-text-fill: #3a424f;
	-fx-font-family: "Robotto";
	-fx-font-size: 18px;
}

TextField {
	-fx-text-fill: white;
	-fx-min-width: 100px;
	-fx-min-height: 40px;
	-fx-max-width: 200px;
	-fx-max-height: 80px;
	-fx-font-size: 16px;
}

Button {
	-fx-background-radius: 6;
	-fx-background-color: #132762;
	-fx-text-fill: white;
	-fx-min-width: 100px;
	-fx-min-height: 40px;
	-fx-max-width: 200px;
	-fx-max-height: 80px;
	-fx-font-size: 16px;
}

