#judul {
	-fx-fill: rgb(231, 220, 198);
	-fx-font-size: 20px;
    -fx-font-family: "Arial";
	-fx-font-weight: bold;
}

#tombol_logIn {
	-fx-background-color: rgb(231, 220, 198);
	-fx-font-weight: bold;
    -fx-font-size: 12px;
	-fx-min-width: 70px;
	-fx-min-height: 30px;
	-fx-max-width: 100px;
	-fx-max-height: 30px;
    -fx-background-radius: 12px;
}

#atas {
	-fx-background-color: rgb(255, 255, 255);
	-fx-min-width: 640px;
	-fx-min-height: 40px;
	-fx-max-width: 640px;
	-fx-max-height: 40px;
    -fx-fill: "#79E0EE";
}

/* HBox {
	-fx-background-color:orange;
    -fx-font-size: 12px;
	-fx-min-width: 120px;
	-fx-min-height: 35px;
	-fx-max-width: 120px;
	-fx-max-height: 35px;
    -fx-background-radius: 12px;
    -fx-fill: "#79E0EE";

} */

#lebel {
	-fx-background-color:rgb(255, 255, 255);
    -fx-font-size: 12px;
	-fx-min-width: 120px;
	-fx-min-height: 40px;
	-fx-max-width: 100px;
	-fx-max-height: 30px;
    -fx-background-radius: 12px;
    -fx-fill: "#79E0EE";

}

HBox {
	-fx-background-color: rgb(207, 74, 74);
	-fx-background-radius: 5px;
	/* -fx-min-width: 300px;
	-fx-min-height: 100px;
	-fx-max-width: 300px;
	-fx-max-height: 100px; */
    -fx-fill: "#79E0EE";
	-fx-padding: 5;

}