.title-text-left {
	-fx-fill: orange;
	-fx-font-size: 33px;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
	-fx-font-family: "Verdana";
}

.title-text-right {
	-fx-font-family: "Verdana";
	-fx-fill: rgb(241, 232, 216);
	-fx-font-size: 33px;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

#label-Text {
	-fx-font-size: 15px;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.desc-text {
	-fx-text-fill: "#FFFFFF";
	-fx-font-size: 14px;
    -fx-text-border: black;
}

.btn-explore {
	-fx-background-color: rgb(254, 237, 206);
	-fx-text-fill: "#323232";
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-min-width: 171px;
	-fx-min-height: 38px;
	-fx-background-radius: 42px;
}

#tombol_logIn {
	-fx-background-color: orange;
    -fx-font-size: 12px;
	-fx-min-width: 70px;
	-fx-min-height: 30px;
	-fx-max-width: 100px;
	-fx-max-height: 30px;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
}